<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form action="salvarpessoa" method="post">

     <label>Nome</label>
     <label>
         <input name="nome">
     </label>
     <label>Sobrenome</label>
     <label>
         <input name="sobrenome">
     </label>
     <label>Idade</label>
     <label>
         <input name="idade">
     </label>
     <input type="submit" value="Salvar">
 </form>
   <a href="/listapessoas">Listar Pessoas</a>

<table>
    <tr th:each = "pessoa : ${pessoas}">
        <td th:text = "${pessoa.id}"></td>
        <td th:text = "${pessoa.nome}"></td>
        <td th:text = "${pessoa.sobrenome}"></td>
        <td th:text = "${pessoa.idade}"></td>
    </tr>
</table>
</body>
</html>